html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
  box-sizing: border-box !important;
  font-family: "Open Sans", sans-serif

}

*, *:before, *:after {
  box-sizing: border-box !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #31708E;
  border-radius: 3px;
}